
/* Color main text #757575  */
/* Second color #212121 */
/* wight #FFFFFF */
/* accent  #2196F3 */
/* logo colors #2196F3 #000000 */
/* footer link color  rgba(255, 255, 255, 0,6) */
/* Hero and footer backgrounds color #2F303A */
 :root {
     --primary-text-color: #757575;
     --title-text-color: #212121;
     --accent-color: #2196F3;
     --main-background-color: #FFFFFF;
     --logo-color: #000000;
     --hero-background-color: #2F303A;
     --our-team-section-background-color: F5F4FA;
     --footer-link-color: rgba(255, 255, 255, 60%);
     
 }

body {
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
}

.logo {
    color: var(--logo-color);
}

.logo-first-part {
    color: var(--accent-color);
}

/* Site nav */
.list {
    list-style: none;
}

.link{
    text-decoration: none;
}

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus{
    color: var(--accent-color);
}

.auth-nav .link {
    color: var(--primary-text-color);
}

/* Main content */

.hero {
    background-color: var(--hero-background-color);
}

.hero-title {
    color: var(--main-background-color);
}

.hero-button {
    background-color: var(--accent-color);
    color: var(--main-background-color);
}

.offer-title,
.wwd-title,
.title-portfolio {
    color: var(--main-background-color);
}

.section-title,
.offer-list .title,
.team-list .title,
.project-list .title {
   color: var(--title-text-color); 
}

.team-section {
    background-color: var(--our-team-section-background-color);
}

.bg-footer,
.bg-footer .logo{
    background-color: var(--hero-background-color);
    color: var(--main-background-color);  
}

.auth-footer .link {
    color: var(--footer-link-color)
}

.portfolio .button {
    background-color: var(--our-team-section-background-color);
    color: var(--title-text-color)
}
.portfolio .button:hover,
.portfolio .button:focus {
    background-color: var(--accent-color);
    color: var(--main-background-color);
}
    



